<footer>
    <div id="left_side_footer">
        <h3 style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            Contact Info <hr>
        </h3>
        <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            <b>Email:</b> &emsp; sohail.baig@ontariotechu.ca<br>
            <b>Phone:</b> &emsp; 647-xxx-xxxx<br><br>
            <b>Institution:</b> &emsp; Ontario Tech University<br>
            &emsp;&emsp;&emsp;&emsp;<i><a href="https://www.google.com/maps/place/2000+Simcoe+St+N,+Oshawa,+ON+L1G+0C5/">2000 Simcoe Street North</a></i><br>
            &emsp;&emsp;&emsp;&emsp;<i><a href="https://www.google.com/maps/place/2000+Simcoe+St+N,+Oshawa,+ON+L1G+0C5/">Oshawa, Ontario L1G 0C5</a></i>
            <br><br> &ensp; <i>&copy; Copyright 2024 Sohail Baig</i>
        </p>
    </div>
    <div id="middle_side_footer">
        <h3 style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
            Links <hr>
        </h3>
        <p style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            <a href="/">Home</a> &emsp;
            <a href="/about">About Me</a><br>
            <a href="/projects">Projects</a> &emsp;
            <a href="/contact">Contact</a>
        </p>
    </div>
    <div id="right_side_footer">
        <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            Social <hr>
        </h3>
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida
