<header>
    <div class="left_logo">
        <img src="/images/SohailLogo.png" alt="SohailBaigLogo" width="26%" height="auto">
    </div>
    <div class="right_side">
        <nav class="navBar">
            <ul style="font-size: 110%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
