<header>
    <div class="left_logo">
        <img src="/images/SohailLogo.png" alt="SohailBaigLogo" width="26%" height="auto">
    </div>
    <div class="right_side">
        <nav class="navBar">
            <ul style="font-size: 110%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/about"><i class="fa-solid fa-circle-info"></i> About</a></li>
                <li><a href="/about"><i class="fa-solid fa-rocket"></i> Projects</a></li>
                <li><a href="/projects"><i class="fa-solid fa-message"></i> Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
