<!DOCTYPE html>
<html lang="en">
    <head>
        <title> SB - Contact</title>
        <meta charset = "UTF-8"/>
        <link rel = "stylesheet" href = "/stylesheets/style.css"/>
        <link rel="icon" href="Title_icon.png" type="image/x-icon"/>
    </head>
    <body class = "_body">
        <%- include('partials/header') %>
        <div id = "contact_form_background">
            <div id = "contact_form">
                <form action = "/submit" method="post">
                    <h2 style="text-align: center; color:rgb(24, 37, 49); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Contact Form<hr>
                    </h2>
                    <label id = "first_name_label" for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" required placeholder=" Enter your First Name..."/>

                    <label id="last_name_label" for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" required placeholder=" Enter your Last Name..."/>
                    
                    <label id="email_label" for="email_">Email:</label>
                    <input type="email" id="email_" name="email_" required placeholder=" Email..."/>

                    <label id="phone_label" for="phone_">Phone:</label>
                    <input type="tel" id="phone_" name="phone_" required placeholder=" Phone..."/>

                    <label id="comments_label" for="comments_">Comments:</label>
                    <textarea type="text" id="comments_" name="comments_" required placeholder=" Comments..." wrap="soft"></textarea>
                
                    <input id="submit_" type="submit" value="Submit"/>
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>