<!DOCTYPE html>
<html lang = "en">        <!--Language English-->
    <head>
        <title>SB - Home</title>      <!--The name that shows up at the top of chrome tab-->
        <meta charset = "UTF-8"/>         <!--Asking it to support a big set of characters-->
        <link rel = "stylesheet" href = "/stylesheet/style.css"/>       <!--Linking css stylesheet-->
        <link rel="icon" href="Title_icon.png" type="image/x-icon"/>\
        <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    </head>
    <body class = "_body">
        <%- include('partials/header') %>
        <div>
            <div id = left_homepage_background>
                <div id = "left_homepage_content">
                    <h1 style = "font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
                        Welcome To My Website! <hr>
                    </h1>
                    <p style = "font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        Hey there! <br><br>My name is Sohail Baig, nice to meet you! <br>This is a website all about...me!
                        <br><br>Feel free to explore using the navigation bar above and leave your contact information to get in touch with me!
                    </p>
                </div>
            </div>
            <div id = right_homepage_background>
                <div id = "right_homepage_content">
                    <img src="/images/Main_Pic.jpeg" alt="Picture of Me" width="20%" height="auto">
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>