<!DOCTYPE html>
<html lang="en">
    <head>
        <title> SB - Projects</title>
        <meta charset = "UTF-8"/>
        <link rel = "stylesheet" href = "/stylesheet/style.css"/>
        <link rel="icon" href="Title_icon.png" type="image/x-icon"/>
    </head>
    <body class = "_body">
        <%- include('partials/header') %>
        <div class = "projects_content_container">
            <div class= "projects__">
                <a href="https://docs.google.com/document/d/17S9NsZatJaTKEwkNmIEuMhQMLQ_wY3PDVfKmwLQzjwg/edit?usp=sharing">
                    <img src="/images/Encryption_Generator.png" alt="Encryption Generator" width="70%" style="margin-left: 15%;"/>
                </a>
                <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
                    Message Encryption Generator<hr>
                </h3>
                <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    Have you ever wondered about classical encryption methods and wanted to try it on your own messages?<br>
                    Well one of the projects that I, along with 4 of my colleagues created was a program that randomly picks an encryption 
                    method for any message you want. Simply type all the messages you want, and when you no longer want to add inouts type 'Stop'
                    or 'stop'. The program will end the user input and generate the encrypted version of your messages and even let you know which encryption 
                    method it used! The encryption methods used are, <i>Substitution, Playfair, Transposition, Shift, Product, and RSA.</i><br><br>Click the image
                    above to view the program!
                </p>
            </div>
            <div class= "projects__">
                <a href="https://docs.google.com/document/d/1p9jHR2MK34I9OMIqktXYBU7olbkccLbA0fvInSLbGMg/edit?usp=sharing">
                    <img src="/images/Student_Ledger.png" alt="Student Ledger" width="100%" style="margin-bottom: 10.5%;"/>
                </a>
                <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
                    Student Ledger/Database System<hr>
                </h3>
                <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    Along with 2 of my colleagues, I created a program which stores the information of students in an Institution, to a database.<br>
                    While designed for an institution which has students, it can be customized for a small organization; using employees rather than students.
                    <br><br> Click the image above to view the program!
                </p>
            </div>
            <div class= "projects__">
                <a href="https://docs.google.com/document/d/19dGhkGyvDszIwXgP-uYsInCAXOOZ4-QL8qBqLjcdadI/edit?usp=sharing">
                    <img src="/images/Atari_2600.png" alt="Atari 2600" width="40%" style="margin-left: 30%; margin-bottom: 10%;"/>
                </a>
                <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
                    The Atari 2600, A Revolutionary Innovation<hr>
                </h3>
                <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    Widely remembered as one of the historical landmarks of gaming history, the Atari 2600 was much more than that.
                    Its complex architecture and innovative methods shaped the future of computer architecture. <br>This document is an extensive report 
                    diving into the history of the Atari 2600, the architecture at that time, and how that architecture influenced upcoming architecture even till today.<br><br>
                    Click the image above to view my report!
                </p>
            </div>
            <div class= "projects__">
                <a>
                    <img src="/images/moreprojects.png" alt="Blank Image" width="70%" style="margin-left: 30%; margin-bottom: 44%;"/>
                </a>
                <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">
                    More Projects To Come....<hr>
                </h3>
                <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    With time, I'll be adding more and more projects to this section here!
                </p>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>